{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6"><div id="map"></div></div>
    <div class="col-md-6 wizard">
        <div>
            <h4>Pan and Zoom the map to find your Area of Interest (AOI).</h4>
	    <h5>This is a very rough prototype, please be aware that selecting tags with lots of features, e.g. 'building', may crash your browser.</h5>
            <div>
                <strong>Map extent:</strong> <span id="bounds"></span><br/>
                <strong>Zoom Level:</strong> <span id="zoom"></span>
                <form id="countForm">
                    <div class="form-group">
                        <label for="feature">Select features to count:</label>
                        <input type="text" class="form-control" id="feature" placeholder="OSM Tag, e.g., aeroway" name="feature">
                    </div>
                    <button id="count" type="submit" class="btn btn-lg btn-primary">Count Features</button>
                </form>
            </div>
        </div>
        <span id="_id"></span>
        <div id="results" class="alert alert-success" role="alert"></div>
        <div id="analysis"></div>
    </div>
</div>

{% endblock %}
