{% extends 'base.html' %} {% block title %}{% endblock %} {% block style %}
<style type="text/css">
    /*
    body {
        font: 10px sans-serif;
    }
    #vis {
        width: 160px;
    }
    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .x.axis path {
        display: none;
    }

    .y.axis path {
        display: none;
    }

    .line {
        fill: steelblue;
        stroke: steelblue;
        stroke-width: 1.5px;
    }

    .tick {
        display: none;
    }

    .slider .handle {
        stroke: #000;
    }

    g.slider rect.background {
        cursor: default !important;
    }
    g.resize.w > rect {
        visibility: visible !important;
        width: 2px !important;
        height:50px !important;
        cursor: move !important;
    }
    */

    svg {
        font: 10 px sans-serif;
    }

    .selecting .bar.selected  rect {
        fill: orange;
    }

    .resize.e path {
        fill: #666;
        fill-opacity: .8;
        stroke: #000;
        stroke-width: 2px;
    }

    .resize.e {
        cursor: default !important;
    }

    g.brush > rect.extent {
        pointer-events: none;
    }

    g.brush > .background {
        cursor: default !important;
    }

    g.tick > text {
        font-size: .6em !important;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        stroke-width: 2px;
        shape-rendering: crispEdges;
    }

    .brush .extent {
        fill-opacity: 0;
        shape-rendering: crispEdges;
    }

    .bar rect {
        fill: steelblue;
        shape-rendering: crispEdges;
    }

    .bar text {
        fill: #fff;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke-width: 1px;
        stroke: #000;
        shape-rendering: crispEdges;
    }
</style>
{% endblock %} {% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 map">
            <div id="vis">
            </div>
        </div>
        <div>
            <h2>Distribution slider test.</h2>
        </div>
    </div>
</div>

{% endblock %} {% block scripts %}
<script type="text/javascript" src="/js/inputs.js"></script>
{% endblock %}
